    body {
        padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        background: #ccc;
    }
    
    .myHeader {
        margin: 150px 0 0 0;
    }
    
    .btn {
        margin: 15px 0 0 0;
        background: #aa66cc;
        color: #fff;
    }
    
    .btn:hover {
        font-weight: bold;
        color: #fff;
        background: #9933CC;
    }
    
    .alert {
        text-align: center;
        margin: 15px 0 0 0;
        background: #aa66cc;
        color: #fff;
        display: none;
    }
    
    .panel .panel-heading {
        background: #9933CC;
        color: #fff;
    }
    
    .mainForm {
        border: solid thin rgba(0, 0, 0, .05);
        color: #9933CC;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .70);
    }
    
    textarea {
        resize: vertical;
    }